<div class="row bg-map">
    <div class="col-12">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempora iusto iste quaerat, aspernatur sunt
        placeat odit nesciunt, laudantium dolorum, nostrum quis reprehenderit vel et perspiciatis veritatis itaque
        laboriosam porro!
        Nostrum qui veniam, incidunt labore adipisci, alias ipsa animi, aperiam voluptas libero autem dolore aspernatur?
        Quas hic numquam, sunt nemo voluptatum voluptatibus assumenda ullam culpa placeat dolor officiis necessitatibus
        repellat.
        Iusto minima ducimus sed voluptatum error possimus velit quis totam quos magni necessitatibus veritatis dolorem
        accusamus atque animi iste labore consequatur, similique praesentium ab sequi nisi veniam! Earum, omnis saepe.
        At velit obcaecati error nulla, eligendi nostrum sunt rem debitis nihil similique itaque aperiam saepe vel, sint
        earum voluptate enim, officia doloremque laboriosam voluptates. Provident similique earum cum excepturi culpa!
        Nemo minus quaerat a accusamus rem sunt qui reiciendis corrupti consectetur! Iure incidunt dolor enim ad unde
        odio cupiditate quis, natus magni tempora saepe nobis hic ex. Suscipit, amet modi.
        Accusamus saepe reiciendis dolor illum sunt! Beatae est culpa autem mollitia harum assumenda, suscipit et
        veritatis? Quas incidunt odio dicta animi quaerat illum aperiam consectetur cupiditate. Voluptatum cumque
        recusandae odio.
        Quod, impedit quae. Quaerat dolorem minima, veniam recusandae aperiam at non culpa iste deserunt beatae
        praesentium eum, nulla amet ullam eos natus! Reiciendis quisquam tenetur libero eveniet dolores laborum quaerat?
        Doloribus velit culpa aspernatur illo similique natus incidunt, consequuntur nisi tenetur facere necessitatibus
        quod magni quasi sequi quaerat odio maxime! Ratione iure accusamus quo est non ipsa quos sed iste.
        Natus porro vero voluptatem voluptate autem, explicabo minima nam eos quo. Dolores, minima commodi! Rerum
        inventore consequuntur excepturi nostrum cum distinctio consectetur esse nobis non deleniti dicta, ex beatae
        minima!
        Itaque, eius quis obcaecati consequuntur laboriosam eaque ad sunt non rerum odio libero dolore eos nihil animi,
        delectus accusamus vero enim amet ratione, magni sed necessitatibus natus? Architecto, numquam illum!

        <a routerLink="map">Carte </a>
    </div>
</div>